
h4 {
  margin: 0;
  font-size: 12px;
  color: #555555;
}
tr {
  border-bottom: 1px solid #efefef;
  display: block;
  margin: 3px 0;
  width: 100%;
}
table tbody tr:last-child {
  border-bottom: 0;
}

.desc {
  color: #999999;
}

.componentList {
  width: 100%;
  :global(.badge) {
    margin-right: 10px;
  }
}
