/**
 * This file contains styles that are accessible by ALL themes. Module developers can then rely on these
 * being available, to provide a little consistency to their UIs.
 */

.pad_right_small { padding-right: 2px; }
.pad_left_small { padding-left: 2px; }
.pad_top_small { padding-top: 2px; }
.pad_bottom_small { padding-bottom: 2px; }
.pad_right { padding-right: 4px; }
.pad_left { padding-left: 4px; }
.pad_top { padding-top: 4px; }
.pad_bottom { padding-bottom: 4px; }
.pad_right_large { padding-right: 6px; }
.pad_left_large { padding-left: 6px; }
.pad_top_large { padding-top: 6px; }
.pad_bottom_large { padding-bottom: 6px; }

.margin_right_small { margin-right: 2px; }
.margin_left_small { margin-left: 2px; }
.margin_top_small { margin-top: 2px; }
.margin_bottom_small { margin-top: 2px; }
.margin_right { margin-right: 6px; }
.margin_left { margin-left: 6px; }
.margin_top { margin-top: 6px; }
.margin_bottom { margin-bottom: 6px; }
.margin_right_large { margin-right: 10px; }
.margin_left_large { margin-left: 10px; }
.margin_top_large { margin-top: 10px; }
.margin_bottom_large { margin-bottom: 10px; }

.nowrap { white-space: nowrap; }
.bold { font-weight: bold; }

.red, a.red:link, a.red:visited { color: #cc0000; }
.orange, a.orange:link, a.orange:visited { color: orange; }
.burgundy, a.burgundy:link, a.burgundy:visited { color: #660000; }
.blue, a.blue:link, a.blue:visited { color: #336699; }
.green, a.green:link, a.green:visited { color: green; }
.light_green, a.light_green:link, a.light_green:visited { color: #00cc00; }
.black, a.black:link, a.black:visited { color: #000000; }
.light_grey, a.light_grey:link, a.light_grey:visited { color: #999999; }
.medium_grey, a.medium_grey:link, a.medium_grey:visited { color: #666666; }

.no_js_hide { display: none; }

/* this is hardcoded here for backwards compatibility. New themes can override it */
.list_table tr.row_highlight { background-color: #c6f1c9; }