node_modules/

.idea*
dist/
src/themes/classic_grey
src/themes/deepblue
src/themes/ohcanada
.DS_Store
src/global/config.php
src/upload/*
!src/upload/index.html
src/modules/*
!src/modules/index.html
src/global/api/*
!src/global/api/index.html
src/cache/*
!src/cache/index.html

# vendor folder dev dependencies. Only whitelist specific dependencies
src/vendor/*
!src/vendor/bin/validate-json
!src/vendor/composer
!src/vendor/justinrainbow
!src/vendor/myclabs
!src/vendor/ramsey
!src/vendor/smarty
!src/vendor/autoload.php