.badge {
  display: inline-block;
  padding: 0 6px;
  border-radius: 3px;
  font-size: 9px;
  line-height: 16px;
}

.module {
  background-color: #01a0e4;
  color: white;
}

.theme {
  background-color: #0b4a03;
  color: white;
}

.api {
  background-color: black;
  color: white;
}

.core {
  background-color: #21aa1e;
  color: white;
}