/* the option list sortable list */

.edit_option_list {
  .col2 {
    width: 312px;
    input {
      width: 306px;
    }
  }
  .col3 {
    width: 312px;
    input {
      width: 306px;
    }
  }
  .col4 {
    width: 70px;
  }
}
