.header {
  position: relative;
  text-align: center;
  width: 950px;
  flex: 0 0 auto;
}

.version {
  float: right;
  display: flex;

  div {
    color: white;
    font-weight: bold;
    padding: 2px 12px 0;
  }
}

.accountSection {
  background-color: #1f4f26;
  padding: 0 8px;
  color: white;
}
