.pills {
  margin: 15px 0 10px;
  padding: 0;

  li {
    display: inline-block;
    background-color: #efefef;
    padding: 2px 16px;
    margin-right: 6px;
    border-radius: 3px;
    cursor: pointer;

    &.selected {
      background-color: #0078cc;
      color: white;

      span {
        background-color: #49a5e5;
        color: white;
      }
    }

    span {
      background-color: #cccdcc;
      color: #333333;
      padding: 1px 3px;
      border-radius: 2px;
      margin-left: 5px;
      font-size: 9px;
    }
  }
}