.delimiter {
  color: #999999;
  margin: 0 8px;
}

.downloadLog {
  background-color: #111111;
  color: #00aa00;
  max-height: 350px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 12px;
}

.downloadLogContainer {
  background-color: #333333;
  color: #999999;
  font-size: 12px;
  border-radius: 3px 3px 0 0;

  :global(h3) {
    margin: 0;
    color: #ffffcc;
    font-size: 12px;
  }
}

.downloadLogHeader {
  display: flex;
  padding: 1px 10px;

  > h3 {
    flex: 1;
  }
  > div {
    flex: 0 0 auto;
    color: #efefef;
  }
}