@import "variables";


.incomplete {
	width: 200px;
	padding: 5px;
	border: 1px solid #999999;
	background-color: #ffffcc;
	text-align: center;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
}

/* the add form step 2 page has a slightly wider space available */

#add_form .multi_page_form_list {
	width: 529px;
	.col2 {
		width: 355px;
		input {
			width: 349px;
		}		
	}
	.col3 {
		width: 100px;
		input {
			width: 98px;
		}		
	}
}

/* the add form step 4 sortable list */

.add_form_step4 {
	.col1 {
		color: #666666;		
	}
	.col2 {
		width: 193px;
	}	
	.rows .col2 {
		padding-left: 3px;
		width: 190px;
	}
	.col3 {
		width: 202px;
	}
	.rows .col3 input {
		width: 195px;
	}	
	.col4 {
		width: 266px;
	}
	.rows .col4 {
		padding-left: 3px;
		width: 263px;
	}
	.col5 {
		width: 18px;
	}	
}

/* add external form step 5 */

.review_field_options {
	.col2 {
		width: 261px;
		input {
			width: 255px;
		}		
	}
	.col3 {
		width: 261px;
		input {
			width: 255px;
		}		
	}	
}

.multi_page_form_list {
	width: 491px;
	.col2 {
		width: 317px;
		input {
			width: 311px;
		}		
	}
	.col3 {
		width: 100px;
		input {
			width: 98px;
		}		
	}	
}

.new_submission_default_vals {
	width: 194px;
}

.new_submission_default_val_fields {
	width: 272px;
}

.placeholders_section {
	padding: 6px;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #efefef;
	float: right;
	margin-left: 6px;
	&:hover {
		background-color: #dddddd;
		cursor: pointer;
	}
	img {
		float: right;
	}	
}

.placeholders_link {
	margin: 0px 8px 0px 2px;
}

#placeholders_dialog_content {
	text-align: left;
	height: 500px;
}

.placeholder_field_overlay {
	width: 16px;
	height: 16px;
	position: absolute;
	cursor: pointer;
	z-index: 2;
	margin: 2px;
	padding-left: 5px;
}

#new_field_position {
	max-width: 280px;
}