html { overflow: -moz-scrollbars-vertical; }
body, html {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background-image: url(../images/top_banner_bg.jpg);
	background-repeat: repeat-x;
	background-color: #ffffff;
}
body {
	min-width: 100%; /* Doesn't work in IE */
}
.clear { clear: both; }
#container {
  min-height: 100%;
  width: 100%;
  margin: 0 auto;
  text-align: center;
	background-image: url(../images/left_bg.jpg);
  background-repeat: repeat-y;
	position: relative;
}
* html #container {
  height: 100%; /*** IE doesn't support min-height, but instead it handles height as min-height so we need to hack the height ***/
}
#header {
  height: 60px;
  position: relative;
  text-align: left;
  background-color: #646464;
}
#header_row {
  height: 18px;
  background-color: #3f3f3f;
  text-align:left;
}
.outer {
	padding-left: 200px; /*** Same width as margin-left for the float-wrap div ***/
	text-align: right;
}
.inner {
	width: 100%;
	padding-bottom: 60px; /*** Padding-bottom value is the same value as the total height of the footer ***/
}

#main_window {
	background-image: url(../images/page_content_bg.jpg);
	background-repeat: repeat-x;
}
#page_content {
	padding: 16px;
	width: 700px;
}

/*** div.inner is wider than its container, div.outer, and so overlaps to the right, pushing
div.right into the proper position. IE expands div.outer instead, requiring a Tan hack to avoid
blowing the layout apart. IE gets the original 100% width as in the Livingstone layout.
***/
.float-wrap {
	float: left;
	width: 100%;
	margin-left: -200px; /*** Same length as .outer padding-left but with negative value ***/
}
#content {
	float: right;
	margin-right: -200px; /*** Same length as .outer padding-left but with negative value ***/
	width: 100%;
	position: relative; /*** IE needs this  ***/
}
.content_wrap {
	text-align: left;
}

/* LEFT COLUMN */
/*** div.left is in div.float-wrap, and when div.float-wrap is neg margined to the left, div.left is carried over into the proper position. ***/
#left {
	float: left;
	width: 200px;
	background-image: url(../images/left_nav_bg.jpg);
	background-repeat: repeat-x;
	position: relative; /*** IE needs this ***/
	text-align: left;
}

#left_nav_top {
	background-color: #272727;
	width:180px;
	color: #ffffee;
	padding-left: 20px;
	height: 18px;
}

/* FOOTER */
#footer {
	/*** The drawback with this solution is that the height of the footer can't have a flexible height.
	If you add so much content to the footer that it extends 45px, you will get a vertical scrollbar
	and the content will overflow the footer if you don't set overflow to hidden ***/
	height: 20px;

	/*** By using a negative margin-top we now moves the footer up the same amount as the footer height
	to avoid vertical scrolling. Remember, if you use borders and padding on your footer you will have
	to calculate this in your negative margin-top value also. ***/
	margin-top: -20px;
  background-color: #e9e9e9;
	vertical-align: bottom;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	position:relative;
	text-align:center;
	font-size: 7pt;
}

.clear { clear: both; }

td,th,p,input,textarea,select,option,optgroup,ul,li,div,span {
	font-family: tahoma, verdana, arial;
	color: black;
	font-size: 8pt;
	line-height: 16px;
}
img { border: none; }
a:link, a:visited { color: #00619e; outline: none; }
form { margin: 0px; }

.rsvErrorField { background-color: #990000; color: #ffffcc; }

.tooltip {
	background-color: #ffffdd;
	border: 2px solid #BDBD93;
}
.tooltip_heading {
  background-color: #ececac;
  color: #7F7F58;
  height: 17px;
  font-size: 9pt;
  font-weight: bold;
  padding:2px;
  padding-left: 8px;
}
.tooltip_content {
  padding:8px;
}
.tooltip_table th {
  text-align: left;
  color: #1A562E;
  font-weight: normal;
}

/*-------------- nav links -----------------*/

div.menu_items div:first-child {
	width: 180px;
	font-size: 8.6pt;
	border-top: 0px;
}
.nav_link {
	width: 180px;
	font-size: 8.6pt;
}
.nav_link a {
	width: 180px;
	display: block;
	vertical-align: center;
	text-decoration: none;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #666666;
	border-bottom: 1px dotted #aaaaaa;
}
.nav_link a:hover {
	color: #d8eaff;
	background-color: #999999;
}
.nav_link_submenu a {
	width: 180px;
	display: block;
	vertical-align: center;
	text-decoration: none;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: #4573a1;
}
.nav_link_submenu a:hover {
	color: #d8eaff;
	background-color: #bbbbbb;
}
.nav_link_selected {
	text-decoration: none;
	padding-left: 20px;
	padding-top: 3px;
	padding-bottom: 3px;
	color: black;
	background-color: #D2E0EF;
}
.nav_link_selected a {
	color: black;
	text-decoration: none;
}
.nav_heading {
  background-image: url(../images/nav_bg.jpg);
  padding-left: 20px;
	color: white;
	height: 16px;
}
table.add_form_nav td {
	width: 16%;
	text-align: center;
}
table.add_form_nav td.selected {
	background-color: #1970D7;
	color: white;
	border-right: 1px solid #cccccc;
}
table.add_form_nav td.selected a:link,table.add_form_nav td.selected a:visited {
	text-decoration: none;
	width: 100%;
	color: white;
	display: block;
	padding: 1px;
}
table.add_form_nav td.unselected {
	background-color: #ffffff;
	color: #999999;
	border-top: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
}

/*-------------- page titles ---------------*/
.title {
	font-family: arial;
	letter-spacing: 4px;
	font-size: 8pt;
	font-weight: bold;
	color: black;
	padding-bottom: 5px;
}
.title a:link, .title a:visited { text-decoration: none; }
.title a:hover { border-bottom: 1px solid #336699; }

.subtitle {
	font-family: arial;
	font-size: 8pt;
	color: #666666;
	letter-spacing: 1px;
}

.underline {
	border-bottom: 1px solid #cccccc;
}

.heading {
	font-size: 10pt;
	font-weight: bold;
}

/*----------------- tabs -------------------*/
.tab_selected {
	border-top: 1px solid #cfcfcf;
	height: 21px;
	text-align: center;
	font-weight: bold;
}
.tab_selected a:link,.tab_selected a:visited {
	text-decoration: none;
	color: black;
}
.tab_selected a:hover {
	text-decoration: underline;
	color: #336699;
}
.tab_not_selected {
	background-image: url(../images/tab_not_selected_bg.gif);
	height: 26px;
	text-align: center;
	font-weight: bold;
}
.tab_content {
	padding-top: 10px;
	padding-left: 18px;
	padding-right: 18px;
	padding-bottom: 10px;
	vertical-align: top;
	background-color: #ffffff;
	border-left: 1px solid #cfcfcf;
	border-right: 1px solid #cfcfcf;
	border-bottom: 1px solid #cfcfcf;
}
a#logout_link { color: #990000; }


/*-------------- list tables ---------------*/
.list_table, .submissions_table {
	border: 1px solid #dddddd;
	width: 100%;
}
.list_table th, .submissions_table th {
  background-image: url(../images/list_table_heading.jpg);
	color: white;
	height: 18px;
	text-align: center;
}
.list_table th a:link, .list_table th a:visited, .submissions_table th a:link, .submissions_table th a:visited {
	color: white;
	text-decoration: none;
}
.list_table th a:hover, .submissions_table th a:hover {
	text-decoration: underline;
}
.list_table th.del, .submissions_table th.del {
	text-align: center;
	background-image: url(../images/delete_bg.jpg);
}
.list_table th.edit, .submissions_table th.edit {
	text-align: center;
}
.list_table tr {
	background-color: #f2f2f2;
	height: 20px;
}
.list_table tr th table tr td {
	background-image: url(../images/list_table_heading.jpg);
}
.submissions_table tr {
	height: 20px;
	cursor: pointer;
}
.list_table td.del {
	text-align: center;
	background-image: url(../images/delete_bg.jpg);
}
.list_table td.del a:link,.list_table td.del a:visited {
	color: white;
	text-decoration: none;
}
.list_table td.del a:hover {
	text-decoration: underline;
}

/*----------------- UI messages ------------------*/
#ft_message { }
#ft_message_inner { }
.notify {	border: 1px solid #0058db; background-color: #f2f8ff; }
.notify div { color: #0058db; }
.error { border: 1px solid #cc0000; background-color: #ffeded; }
.error div { color: #aa0000; }
.errorField { background-color: #cc0000; color: white; }
.box {
	border: 1px solid #666666;
	background-color: #ffffee;
	color: #333333;
	padding: 5px;
}
.grey_box {
  background-color: #f9f9f9;
  padding: 5px;
  border: 1px solid #cccccc;
}
.blue_box {
  background-color: #CFECFF;
  padding: 5px;
  border: 1px solid #336699;
}
.light_blue_box {
  background-color: green;
  padding: 5px;
  border: 1px solid #336699;
}


/*-------------- print page ----------------*/
.print_title {
	font-family: arial;
	font-size: 14px;
	font-weight: bold;
}

.print_table {
	border: 1px solid #dddddd;
}

.print_table th {
	border: 1px solid #cccccc;
	background-color: #efefef;
}

.print_table td {
	border: 1px solid #cccccc;
}

.print_th {
	text-align: left;
	width: 30%;
	font-family: arial;
	font-size: 8pt;
}

/*----------------- misc -------------------*/
#search_form_table {
	border-top: 1px solid #dddddd;
	border-bottom: 1px solid #dddddd;
	background-color: #efefef;
	padding: 5px;
}

.next_step {
	color: #336699;
	font-weight: bold;
}

.ul_no_indent {
	padding-left: 0px;
	margin-left: 20px;
}

.highlighted_text {
	color: #cc0000;
}

.strong_button {
	font-weight: bold;
	color: #336699;
}

.page_break {
	page-break-after: always;
}

.light_grey { color: #999999; }
.medium_grey { color: #666666; }


.submission_id {
	color: #666666;
	width: 25px;
}

.submission_date { width: 100px; }

.ip_address { width: 80px; }

#nav_previous_page {
	color: #cccccc;
}

#nav_next_page {
	color: #cccccc;
}

/*--------- login / forget pwd pages ---------*/
.login_outer_table {
	border: 1px solid #999999;
}

.login_inner_table {
	background-color: #e9e9e9;
}

.login_table_text {
	color: #336699;
	padding-left: 10px;
	padding-right: 10px;
}

.login_error {
	background-color: pink;
	color: #333333;
	border-top: 1px solid #aa0000;
	border-bottom: 1px solid #aa0000;
	padding-top: 1px;
	padding-bottom: 1px;
}

/*----------- Edit Form: email tab styles -----------*/
.template { font-size: 11px; color: #666666; font-family: "Courier New"; }


.inner_tab_set { border: 1px solid #dddddd; }

.inner_tab_selected {
	position: absolute;
	text-align: center;
	height: 20px;
}
.inner_tab_unselected {
	position: absolute;
	text-align: center;
	background-color: #efefef;
	height: 20px;
}
.inner_tab_content {
	background-color: #f9f9f9;
	padding: 10px;
	padding-top: 10px;
	background-color: #ffffff;
}
.inner_tab_selected a {
	display: block;
	text-decoration: none;
}
.inner_tab_unselected a {
	display: block;
	text-decoration: none;
	color: #666666;
}

.incomplete {
	color: #cc0000;
	width: 200px;
	padding: 5px;
	border: 1px solid #cc0000;
	background-color: #ffffcc;
	text-align: center;
}

tr.selected_row_color { background-color: #cfecff; }
tr.unselected_row_color { background-color: #f2f2f2; }

#list_nav { font-size: 8pt; line-height: 19px; }
#list_nav a:visited, #list_nav a:link { text-decoration: none }
#list_nav a:hover { text-decoration: underline; color: orange; }
#list_current_page { border: 1px solid #336699; background-color: #E5F3FE; font-weight: bold; padding: 2px; }

.subpanel {
  background-color: #e9e9e9;
  padding:3px;
  border-right: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
}
table.subpanel td {
	background-color: #e9e9e9;
}

#email_recipients {
  border: 1p solid #336699;
  background-color: #F2F8FF;
  line-height: 20px;
  margin-top: 4px;
}

#email_recipients a:visited, #email_recipients a:link { color: red; text-decoration: none }
#email_recipients a:hover { text-decoration: underline; }

.previous_page_icon {
  float:right;
  margin-top: 5px;
}